<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>SVCatalogo</servlet-name>
        <servlet-class>com.mycompany.dcv.servlet.SVCatalogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SVDatos</servlet-name>
        <servlet-class>com.mycompany.dcv.servlet.SVDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SVPedidos</servlet-name>
        <servlet-class>com.mycompany.dcv.servlet.SVPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SVMain</servlet-name>
        <servlet-class>com.mycompany.dcv.servlet.SVMain</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SVReporte</servlet-name>
        <servlet-class>com.mycompany.dcv.servlet.SVReporte</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SVMain</servlet-name>
        <url-pattern>/SVMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SVCatalogo</servlet-name>
        <url-pattern>/SVCatalogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SVDatos</servlet-name>
        <url-pattern>/SVDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SVPedidos</servlet-name>
        <url-pattern>/SVPedidos</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>SVReporte</servlet-name>
        <url-pattern>/SVReporte</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
